 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg, #f8f9fc, #dfe6f1);
    color: #222;
}

/* HEADER */
header {
    background: #1c1f4a;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 12px -4px rgba(0,0,0,0.5); /* sombra só embaixo */
}

header img {
    width: 160px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s;
}

header a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffb703;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
}

header a:hover {
    color: #ffb703;
}

header a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* MAIN */
main {
  padding: 40px;
  color: var(--text);
  margin-top: 40px;
  font-family: "Lato", sans-serif;
}

h2 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

/* GRID DE TURMAS */
.turmas-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.turma-card {
  background-color: #1c1f4a;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.turma-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.turma-card p {
  font-size: 14px;
  color: white;
}

.turma-card:hover {
  transform: scale(1.03);
  background-color: #ffb703;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  h2 {
    font-size: 22px;
  }

  .turma-card h3 {
    font-size: 18px;
  }

  .turma-card p {
    font-size: 13px;
  }
}

@media (max-width: 760px) {
  ul {
    gap: 25px;
  }

  a {
    font-size: 18px;
  }
}
